body {
    margin: 0;
}

.contenedorimg {
    background-image: url(https://cdn.pixabay.com/photo/2022/12/01/05/18/car-7628340_1280.jpg);
    width: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%
}

.contenedorinf {
    background-color: aliceblue;
    width: 55vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.contenedorgen {
    display: flex;
    height: 100vh;
}

.titulo-autolavado {
    font-size: 80px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 80px;
}

.boton-entrar {
    margin: 0;
    font-family: monospace;
    background-color: #0f5ebb;
    border-radius: 40px;
    border: 0px;
    padding: 10px 115px;
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

.entrar {
    display: flex;
    justify-content: center;
}


/*formulario*/

.degradado {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
        #6ba0df,
        #9ae9b6 85%,
        #f7e6be
    );
}

.cuadro {
    background-color: #fdfcff; 
    width: 525px;
    height: 635px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

label {
    display: block;
    margin-bottom: 17px;
}

.formuinfo {
    margin-bottom: 30px;
    border-radius: 40px;
    padding: 14px 80px;
    display: block;
    border-color: #0f5ebb;
}

.logo {
    width: 415px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.enviar {
    font-family: monospace;
    background-color: #0f5ebb;
    border-radius: 40px;
    border: 0px;
    padding: 17px 85px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 45px;
}

.nueva {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: #0f5ebb;
}
.enviar:hover {
    background-color:#072e5c;
}

a:hover {
    color:#072e5c;
}

/*Dashboard*/

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #0f5ebb;
    position: fixed;
    width: 100%;
    height: 55px;
}

.boton-encabezado {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    margin: 20px;
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.titulo-dash {
    font-size: 55px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 48px;
}

.caja-mayor {
    height: 520px;
    width: 90%;
    display: flex;
    align-items: center;
}

.caja-menor1, .caja-menor2 {
    width: 50%;
    height: 95%;
    margin: 10px;
}

.caja-menor1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.caja-menor2 {
    border: #a3a3a3 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja1 {
    border: #a3a3a3 1px solid;
    border-radius: 10px;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja2 {
    border: #a3a3a3 1px solid;
    border-radius: 10px;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton-cita {
    margin-top: 70px;
    font-family: monospace;
    background-color: black;
    border-radius: 40px;
    border: 0px;
    padding: 12px 245px;
    font-size: 25px;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

table {
    table-layout: fixed;
    width: 95%;
    border-collapse: collapse;
    
}

tr, th, td {
    border: black 1px solid;
}

th {
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.titulos1 {
    background-color: #f3b157;
}

.titulos2 {
    background-color: black;
}

td {
    height: 40px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

caption {
    font-size: 24px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}


