body {
    margin: 0;
}

.contenedorimg {
    background-image: url(https://cdn.pixabay.com/photo/2022/12/01/05/18/car-7628340_1280.jpg);
    width: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%
}

.contenedorinf {
    background-color: aliceblue;
    width: 55vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.contenedorgen {
    display: flex;
    height: 100vh;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 80px;
}

button {
    margin: 0;
    font-family: monospace;
    background-color: #0f5ebb;
    border-radius: 40px;
    border: 0px;
    padding: 10px 115px;
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
}

.entrar {
    display: flex;
    justify-content: center;
}


/*formulario*/

.degradado {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
        #6ba0df,
        #9ae9b6 85%,
        #f7e6be
    );
}

.cuadro {
    background-color: #fdfcff; 
    width: 525px;
    height: 635px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

label {
    display: block;
    margin-bottom: 17px;
}

.formuinfo {
    margin-bottom: 30px;
    border-radius: 40px;
    padding: 14px 80px;
    display: block;
    border-color: #0f5ebb;
}

.logo {
    width: 415px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.enviar {
    font-family: monospace;
    background-color: #0f5ebb;
    border-radius: 40px;
    border: 0px;
    padding: 17px 85px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 45px;
}

.nueva {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: #0f5ebb;
}
.enviar:hover {
    background-color:#072e5c;
}

a:hover {
    color:#072e5c;
}